.grid {
  display: grid;
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

  &.grid-center {
    justify-items: center;
  }
}
